<html>
<header>

</header>
<body>
<h1 style="color:#005580">Nuevo mensaje de {{ name }}</h1>
<h2>IP de envío: {{ ip }}</h2>
<div>
    <p style="text-align: justify">{{ message|raw }}</p>

</div>

</body>
</html>